<?xml version="1.0"?>
<launch>
  <arg name="robot_ip" />
  <arg name="robot_name"/>
  <arg name="load_gripper" default="true"/>
  <arg name="arm_id" value="$(arg robot_name)"/>
  <arg name="pipeline" default="pilz_industrial_motion_planner" /> <!-- default: pilz_industrial_motion_planner, change to ompl for automatic calibration-->
  
  <group ns="$(arg robot_name)">
  <!-- Launch real-robot control -->
  <include file="$(find franka_control)/launch/franka_control.launch">
  <arg name="robot" value ="$(arg robot_name)"/>
  <arg name="robot_ip" value="$(arg robot_ip)"/>
  <arg name="load_gripper" value="$(arg load_gripper)"/>
  </include>
  
  <!-- Launch camera calibration -->
  <include file="$(find moveit_calibration_gui)/camera_calibration.launch" pass_all_args="true"/>

  <!-- By default use joint position controllers -->
  <arg name="transmission" default="position" />
  <!-- Start ROS controllers -->
  <include file="$(dirname)/ros_controllers.launch" pass_all_args="true"/>

  <!-- as well as MoveIt demo -->
  <include file="$(dirname)/demo.launch" pass_all_args="true">
    <!-- robot description is loaded by franka_control.launch -->
    <arg name="load_robot_description" value="false" />
    <!-- MoveItSimpleControllerManager provides ros_control's JointTrajectory controllers
         as well as GripperCommand actions -->
    <arg name="moveit_controller_manager" value="simple"/>
  </include>
  </group>
</launch>
